.inner {
  width: 86%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}
.relative_css {
  position: relative;
}
.recruit_box {
  position: absolute;
  top: 40%;
  left: 0;
  background: #fff;
}
.ab_coment {
  position: absolute;
  top: 70%;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
}
