.inner {
  width: 86%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}
.relative_css {
  position: relative;
}
.recruit_box {
  position: absolute;
  top: 60%;
  left: 0;
  background: #fff;
  width: 343px;
  height: 266px;
}
